@model IEnumerable<AirtekProject.Models.Notas>

@{
    ViewBag.Title = "Table";
}

<h2>Table</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.matematica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ciencias)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.castellano)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ingles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.deporte)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.matematica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ciencias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.castellano)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ingles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.deporte)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>

<li>@Html.ActionLink("Regresar", "Index", "Home")</li>
